body
{
	background-color: black;
	color: white;
}

input, label
{
	text-align: center;
	max-width: 200px;
}

input
{
	max-width: 100px;
	margin: auto;
}

.form-group
{
	text-align: center;
}

#controls
{
	float: left;
    width: 180;
    max-width: 180;
    margin: auto;   
    text-align: center;
}

#divCanvas
{
	float: left;
	text-align: center;
}

#pageTitle
{
	text-align: center;
	margin: 30px;
}

#btnDiv
{
	text-align: center;
}

#statsid
{
	text-align: left;
}
